@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:300,400,700,800,800i");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, input, textarea, select, button {
  display: block; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  position: relative;
  transition: all 0.5s ease 0.1s; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
}

.comment-message {
  color: grey;
}

.comments-form  {
  background: #fff;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 20px;
  margin-top: 100px;
  max-width: 720px;
  border-radius: 15px;
}

.error {
  background-color: #ff1e43;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.form {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.comment img, .form img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.form  input {
  max-width: 608px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 25px;
  border-radius: 3px;
}

.comments {
  padding: 0px 10px;
}

.comments a {
  font-size: 12px;
  text-decoration: none;
  color: #ccc;
  margin-right: 10px;
}

.comment {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 0px;
  margin-top: 10px;
}

.text-comment {
  margin-left: 25px;
}
.text-comment .user-name {
  color: #222222;
}

.text-comment p {
  font-size: 14px;
  line-height: 18px;
  color: gray;
}

